@page
@model Assignment_2.Pages.ChangePasswordModel
@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Login");
    }
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>
            <form method="post" asp-antiforgery="true">
                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.CurrentPassword">Current Password</label>
                    <input type="password" asp-for="CPModel.CurrentPassword" class="form-control" />
                    <span asp-validation-for="CPModel.CurrentPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.NewPassword">New Password</label>
                    <input type="password" asp-for="CPModel.NewPassword" class="form-control" />
                    <span asp-validation-for="CPModel.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="CPModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="CPModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
            <div class="mb-3">
                <a asp-page="Index" class="btn btn-light">Go Back</a>
            </div>
        </div>
    </div>
</div>